<div class="container">
    <div class="row">
        <div class="col-md-12 col-12 mt-5">
            <h1 class="text-center">Inscreva-se</h1>
        </div>
    </div>
</div>


<form [formGroup]="form">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <input type="text" class="form-control" required formControlName="name"
                        placeholder="Nome de usuário *">
                    <div class="alert alert-danger mt-1" *ngIf="form.controls.name?.errors?.required">Nome de usuário é obrigatório.</div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <input type="text" class="form-control" required formControlName="cpfCnpj"
                        placeholder="CPF/CNPJ *" mask="000.000.000-00||00.000.000/0000-00">
                        <div class="alert alert-danger mt-1" *ngIf="form.controls.cpfCnpj?.errors?.required">Campo CPF ou CNPJ obrigatório.</div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <input type="text" class="form-control" required formControlName="fullName"
                        placeholder="Nome Completo *">
                        <div class="alert alert-danger mt-1" *ngIf="form.controls.fullName?.errors?.required">Nome completo é obrigatório.</div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <input type="text" class="form-control" required placeholder="E-mail *" formControlName="email">
                    <div class="alert alert-danger mt-1" *ngIf="form.controls.email?.errors?.required">E-mail é obrigatório.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <input type="password" class="form-control" required
                        formControlName="password" placeholder="Senha *">
                        <div class="alert alert-danger mt-1" *ngIf="form.controls.password?.errors?.required">Senha é obrigatória.</div>
                </div>
            </div>           
        </div>

        <div [formGroup]="form">
            <div formArrayName="phones">
                <div *ngFor="let phonesForm of phones.controls; let i = index">
                    <form [formGroup]="$any(phonesForm)">
                        <h2>Contato {{i + 1}}</h2>
                        <input type="text" class="form-control" formControlName="number" mask="(00) 00000-0000">
                        <div class="alert alert-danger mt-1" *ngIf="$any(phonesForm).get('number').hasError('required')">O número é obrigatória</div>
                        <button class="btn btn-danger mt-1" (click)="removePhone(i)">Remover</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 col-12">
                <button class="btn btn-primary" (click)="addPhones()">Adicionar Telefone</button>
            </div>
        </div>


        <div [formGroup]="form">
            <div formArrayName="addresses">
                <div *ngFor="let addressForm of addresses.controls; let i = index">
                    <form [formGroup]="$any(addressForm)">
                        <h2>Endereço {{i + 1}}</h2>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="CEP *" formControlName="zipCode"
                                    mask="00000-000" (blur)="findAddress(i)">
                                    <div class="alert alert-danger mt-1" *ngIf="$any(addressForm).get('zipCode').hasError('required')">CEP é obrigatório.</div>
                            </div>

                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Logradouro" formControlName="road">
                                <div class="alert alert-danger mt-1" *ngIf="$any(addressForm).get('road').hasError('required')">Rua é obrigatório.</div>
                            </div>

                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Bairro" formControlName="district">
                                <div class="alert alert-danger mt-1" *ngIf="$any(addressForm).get('district').hasError('required')">Bairro é obrigatório</div>

                            </div>

                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="cidade" formControlName="city">
                                <div class="alert alert-danger mt-1" *ngIf="$any(addressForm).get('city').hasError('required')">Cidade é obrigatória</div>

                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Estado" formControlName="state">
                                <div class="alert alert-danger mt-1" *ngIf="$any(addressForm).get('city').hasError('required')">Estado é obrigatória</div>

                            </div>

                            <div class="col-md-3">
                                <input type="text" class="form-control" p
                                laceholder="Complemento"
                                    formControlName="complement">
                                    <div class="alert alert-danger mt-1" *ngIf="$any(addressForm).get('complement').hasError('required')">Complemento é obrigatória</div>

                            </div>

                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Número" formControlName="number">
                                <div class="alert alert-danger mt-1" *ngIf="$any(addressForm).get('number').hasError('required')">O número é obrigatória</div>
                            </div>

                            <div class="col-md-3">

                                <select formControlName="isMain" class="form-control">
                                    <option value="">Endereço principal?</option>
                                    <option value="1">Sim</option>
                                    <option value="0">Não</option>
                                </select>

                                <div class="alert alert-danger mt-1" *ngIf="$any(addressForm).get('isMain').hasError('required')">Campo obrigatória</div>                                
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-12 col-12">
                                <button class="btn btn-danger" (click)="removeAddress(i)">Remover</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <button (click)="addAddress()" class="btn btn-primary mt-3">Adicionar Endereço</button>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="form-group d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary" (click)="register()" value="Registrar">
                </div>
            </div>
        </div>
    </div>
</form>