<div class="container">
    <div class="row">
        <div class="col-md-12 col-12 mt-5">
            <h1 class="text-center">SGC - Sistema Gerenciador de Clientes</h1>
        </div>
    </div>
        <div class="row  d-flex justify-content-center">
            <div class="col-md-6 col-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1">
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-12">
                <div class="mb-3">
                    <button class="btn btn-success w-100">Logar</button>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-12">
                <div class="mb-3">
                    <a href="https://www.google.com">Registrar-se</a>
                </div>
            </div>
        </div>
  
</div>